*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
a{
  color: white;
  text-decoration: none;
}
ul{
  list-style: none;
}
.top-widget{
    background: #ba0000;
}
.container{
  max-width: 1170px;
  margin: 0 auto;
}
.header-widget{
  display: flex;
  justify-content: space-between;
  padding: 14px 10px;
  font-size: 14px;
}
.fa-chevron-down{
  font-size: 10px;
  padding-left: 5px;
}
.container-widget-menu__list{
  display: flex;
}
.lang-submenu{
  display: none;
  position: absolute;
  list-style: none;
  background: #ba0000;
  top: 35px;
  z-index: 1;
  border-radius: 0 0 25px 25px;
}
.lang-submenu__elem{
  padding: 15px;
}
.container-widget:hover .lang-submenu{
  display: block;
}
.country-submenu{
  display: none;
  position: absolute;
  list-style: none;
  background: #ba0000;
  top: 35px;
  right: 220px;
  z-index: 1;
  border-radius: 0 0 25px 25px;
}
.country-submenu__elem{
  padding: 15px;
}
.container-widget-menu__list__item:hover .country-submenu{
  display: block;
}
.container-widget-menu__list__item1{
  margin-right: 30px;
}
.menu{
  display: flex;
}
.menu-section{
  background: #ffcc00;
}
.header-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
    position: relative;
}
.menu__item{
  list-style: none;
  padding: 35px 0;

}
.menu__item a{
  text-transform: uppercase;
  color: #ba0000;
  padding: 0 20px;
}
.menu__item a:hover::after{
  content: "";
  position: absolute;
  height: 4px;
  width: 100px;
  bottom: 0;
  background: #ba0000;
}
.search_block{
  width: 50px;
  height: 50px;
  background: #ba0000;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  box-shadow: 0px 10px 18px 0px rgba(185,0,0,0.4);
  margin-right: 12px;
  transition: .5s;
}
.search_block:hover{
  transition: .5s;
  transform: scale(1.05);
}

.first-screen{
  background: url("image/top_banner.png") no-repeat;
  min-height: 800px;
  background-size: 100%;
}
.slogan{
  font-size: 70px;
  color: white;
  line-height: 80px;
  padding: 80px 0 70px 0;
  position: relative;
  letter-spacing: 0.07em;
}
.slogan::before{
  content: "";
  width: 100px;
  height: 4px;
  bottom: 35px;
  position: absolute;
  background: #ffcc00;
}
.slogan_text{
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #ffcc00;
}
.advantages{
  padding: 25px 0 45px 0;
}
.advantages__elem{
  display: inline;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  padding-right: 60px;
  position: relative;
}
.advantages__elem::after{
  content: "";
  width: 4px;
  height: 4px;
  background: #ffcc00;
  position: absolute;
  border-radius: 50%;
  right: 25px;
  top: 17px;
}
.advantages__elem:last-child::after{
  display: none;
}
.btn{
  padding: 16px 32px;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.1em;
}
.first_screen__btn__elem1{
  box-shadow: 0px 10px 18px 0px rgba(255,203,0,0.4);
  background: #ffcc00;
  color: #ba0000;
  margin-right: 19px;
}
.first_screen__btn__elem2{
  border: 2px solid white;
}

.title{
  font-size: 50px;
  color: #ba0000;
  letter-spacing: 0.03em;
  word-spacing: 0.2em;
  padding-bottom: 80px;
}
.wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.wrapper-box{
  width: 270px;
  height: 339px;
}
.wrapper-box__title{
  color: #ba0000;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.05em;
  padding: 15px 0 5px 0;
}
.wrapper-box__text{
  word-spacing: 0.1em;
  letter-spacing: 0.01em;
  line-height: 26px;
  color: #777777;
  margin-bottom: 11px;
}
.wrapper-box__link{
  color: #222;
  font-weight: bold;
  letter-spacing: 0.04em;
  word-spacing: 0.1em;
  position: relative;
}
.wrapper-box__link::after{
  content: '';
  position: absolute;
  right: -16px;
  bottom: 6px;
  border: 5px solid transparent;
  border-left: 5px solid #ba0000;
}
.select-location{
  background: #ba0000;
}
.select-location__wrapper{
  padding: 25px 30px;
}
.select-location__title{
  color: white;
  font-size: 20px;
  letter-spacing: 0.05em;
  font-weight: bold;
  position: relative;
}
.select-location__wrapper::before{
  content: "";
  width: 70px;
  height: 2px;
  bottom: -400px;
  position: absolute;
  background: #ffcc00;
}
.select-location__text{
  color: white;
  padding: 47px 0 0 0;
  word-spacing: 0.1em;
}
.select-location__dropmenu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:37px 0 32px 0;
  background: #9d0000;
  color: white;
  cursor: pointer;
}
.select-location__dropmenu i{
  padding: 20px;
  color: #ba0000;
  background: #ffcc00;
}
.select-location__dropmenu__text{
  padding-left: 20px;
  letter-spacing: 0.02em;
}
.select-location__btn{
  box-shadow: 0px 10px 18px 0px rgba(255,203,0,0.4);
  background: #ffcc00;
  color: #ba0000;
  padding: 16px 45px;
}
/* .third-screen{
  background: url("image/layers_2_1.png") no-repeat;
  height: 700px;
  background-size: 100%;
} */
.third-screen__title{
  color: white;
  text-align: center;
  padding-top: 50px;
}
.third-screen__play__btn{
  box-shadow: 0px 10px 18px 0px rgba(255,203,0,0.4);
  width: 75px;
  height: 75px;
  background-color: #ffcc00;
  border-radius: 50%;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}
.third-screen__play__btn::after{
  content: "";
  position: absolute;
  bottom: 28px;
  left: 32px;
  border: 9px solid transparent;
  border-left: 15px solid #ba0000;
}
.third-screen__play__btn:hover{
  transform: scale(1.1);
  transition: 0.5s;
}
.third-screen-wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
  bottom: 0;
  left: 0;
}
.third-screen-wrapper__box{
  width: 370px;
  box-shadow: 0px 10px 18px 0px rgba(191,191,191,0.4);
  background: white;
}
.third-screen-wrapper__text{
  padding: 2px 30px 2px 30px;
}
.third-screen__list{
  padding: 17px 20px 17px 20px;
}
.third-screen__list__elem{
    word-spacing: 0.17em;
    padding-bottom: 2px;
    color: #777777;
    position: relative;
}
.third-screen__list__elem::before{
  content: "";
  left:-20px;
  bottom: 10px;
  border: 6px solid transparent;
  border-left: 6px solid #ffcc00;
  position: absolute;
}
.third-screen-wrapper__box__title{
  color: #ba0000;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.05em;
  padding: 15px 0 5px 0;
}
